<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="d-block mr-auto">
      <a href="/" class="d-inline nav-link navbar-brand">
        Reddit.js
      </a>
      {{#if currentUser}}
        <a href="/posts/new" class="d-inline btn btn-primary navbar-btn">
          New Post
        </a>
      {{/if}}
    </div>
    <ul class="nav navbar-nav navbar-right">
      {{#if currentUser}}
        <li>
          <a href="/logout">
            <button>
              Logout
            </button>
          </a>
        </li>
      {{else}}
        <li>
          <a href="/login">
            <button>
              Login
            </button>
          </a>
        </li>
        <li>
          <a href="/sign-up">
            <button>
              Sign Up
            </button>
          </a>
        </li>
      {{/if}}
    </ul>
  </div>
</nav>